.list-wrapper{
    display: flex;
    justify-content: space-around;
    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .list-item{
            width: 340rpx;
            margin-bottom: 30rpx;
            box-shadow: 0px 0px 6px 0px rgba(221, 221, 221, 0.5);
            image{
                width: 100%;
            }
            .title-wrapper{
                font-size: 28rpx;
                color: #333;
                line-height: 34rpx;
                margin: 22rpx 0 0 16rpx;
            }
            .tag-wrapper{
                margin: 10rpx 0rpx 0 16rpx ;
            }
            .price-wrapper{
                font-size: 32rpx;
                color: #157658;
                margin: 16rpx 0 0 16rpx;
                line-height: 38rpx;
                text{
                    margin-right: 6rpx;
                    &.disPrice{
                        text-decoration: line-through;
                        color: #999;
                    }
                }
            }
            .subtitle-wrapper{
                color: #999;
                font-size: 24rpx;
                line-height: 36rpx;
                margin: 4rpx 16rpx 38rpx 16rpx;
            }
        }
    }
}
