.cell{
    font-size: 24rpx;
    line-height: 24rpx;
    color: #333;
    border: 2rpx #333 solid;
    margin-right: 20rpx;
    margin-bottom: 30rpx;
    view{
        display: flex;
        margin: 4rpx;
    }
}
.forbidden{
    color: #BBBBBB;
    border: 2rpx #BBBBBB solid;
}
.fetchImg{
    width: 56rpx;
    height: 56rpx;
    margin: 4rpx;
}
.s-outer{
    border: 2rpx solid #157658;
}
.s-inner{
    display: block;
    background-color: #157658;
    color: #fff;
}
.waiting{
    display: block;
    margin: 4rpx;
    padding: 16rpx 28rpx;
}